{% extends 'desk/base.html.twig' %}

{% block title %}{{ user.fullname }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row centered">
            <a class="btn btn-red" href="{{ path ('desk') }}">Retour aux listes</a>
            <div class="col text-center">
                <div class="row card-header centered">
                    {% if user.picture == null %}
                        <i class="fas fa-portrait"></i> <em>no picture</em>
                    {% else %}
                        <img src="{{ asset('uploads/pictures/' ~ user.picture) }}" class="items-align-right avatar avatar-medium" alt=" Avatar de {{ user.firstname}}">
                    {% endif %}<h1 class="ml-2">{{ user.fullName }} {% if user.gender == 'male' %}<i class="fas fa-male"></i>{% else %}<i class="fas fa-female"></i>{% endif %}</h1>
                </div>
            </div>
            <button class="btn btn-green">Contacter</button>
        </div>
        <div class="container text-center">
            <div class="card card-header centered">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="centered">
                    <button type="submit" class="btn btn-green">Faire de cet utilisateur un administrateur</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
