{% extends 'desk/base.html.twig' %}

{% block title %}{{ user.fullName }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-4">
            <button class="bg-yellow">
                <a class="btn btn-red" href="{{ path ('valid') }}"><h3>Retour aux listes</h3></a>
            </button>
            <div class="col text-center">
                <div class="row card-header centered">
                    {% if user.picture == null %}
                        <i class="fas fa-portrait"></i> <em>no picture</em>
                    {% else %}
                        <img src="{{ asset('uploads/pictures/' ~ user.picture) }}" class="items-align-right avatar avatar-medium" alt=" Avatar de {{ user.firstname}}">
                    {% endif %}<h1 class="ml-2">{{ user.fullName }}</h1>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Wish</th>
                            <th>Gender</th>
                            <th>Instrument</th>
                            <th>City</th>
                            <th>Country</th>
                            <th>Date of Birth</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ user.wish }}</td>
                            <td> {% if user.gender == 'male' %}<i class="fas fa-male"></i>{% else %}<i class="fas fa-female"></i>{% endif %}</td>
                            <td>{{ user.instrument.title }}</td>
                            <td>{{ user.city }}</td>
                            <td>{{ user.country }}</td>
                            <td>{{ user.birth | date('d/m/Y') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row centered mt-4">
            {{ form_start(form) }}
            {{ form_widget(form) }}
                <button type="submit" class="btn btn-success">Valider</button>
            {{ form_end(form) }}
    </div>
{% endblock %}
