<table class="table table-hover text-center">
            <h3>Les Administrateurices</h3>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Picture</th>
                    <th>City</th>
                    <th>Instrument</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for admin in admins %}
                <tr>
                    <td>{% if admin.gender == 'male' %}<i class="fas fa-male"></i>{% else %}<i class="fas fa-female"></i>{% endif %} {{ admin.fullName }}</td>
                    <td>{% if admin.picture == null %}
                        <i class="fas fa-portrait"></i> <em>no picture</em>
                    {% else %}
                        <img src="{{ asset('uploads/pictures/' ~ admin.picture) }}" class="items-align-right avatar avatar-medium" alt=" Avatar de {{ admin.firstname}}">
                    {% endif %}</td>
                    <td>{{ admin.city }}</td>
                    <td>{{ admin.instrument.title }}</td>
                    <td><a href="{{ path ('user_show', {'slug' : admin.slug})}}" class="btn btn-green"><i class="fas fa-user-edit"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>