<table class="table table-hover text-center">
            <h3>Les Membres</h3>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Picture</th>
                    <th>City</th>
                    <th>Instrument</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                <tr>
                    <td>{% if member.gender == 'male' %}<i class="fas fa-male"></i>{% else %}<i class="fas fa-female"></i>{% endif %} {{ member.fullName }}</td>
                    <td>{% if member.picture == null %}
                        <i class="fas fa-portrait"></i> <em>no picture</em>
                    {% else %}
                        <img src="{{ asset('uploads/pictures/' ~ member.picture) }}" class="items-align-right avatar avatar-medium" alt=" Avatar de {{ member.firstname}}">
                    {% endif %}</td>
                    <td>{{ member.city }}</td>
                    <td>{{ member.instrument.title }}</td>
                    <td> <a href="{{ path ('user_show', {'slug' : member.slug})}}" class="btn btn-green"><i class="fas fa-user-edit"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>