{% extends 'desk/base.html.twig' %}

{% block title %}Desk{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-2">
        <div class="col-1">
            {% if app.user.picture == null %}
                <a class="btn btn-red" href="{{ path('profile') }}"><i class="fas fa-portrait"></i> <em>Add picture!</em></a>
            {% else %}
                <img src="{{ asset('uploads/pictures/' ~ app.user.picture) }}" class="items-align-right avatar avatar-medium" alt=" Avatar de {{ app.user.firstname}}">
            {% endif %}
        </div>
        <div class="col">
            <div class="row ml-4">
                <h2>Hi {{ app.user.fullName }} !</h2>
            </div>
            <div class="row centered">
                {% if app.user.validation == false %}
                    <h3> Please be patient !! Your account have to be approuved by an administrator...</h3>
                {% else %}
                    {% for role in app.user.roles %}
                        {% if role == 'ROLE_ADMIN' %}
                        <div class="col">
                            <a href="{{ path('valid')}}" class="btn btn-red">{{ unvalids | length }} Validation(s) en attente</a>
                        </div>
                        <div class="container mt-2">
                            {% include '/desk/lists/admins.html.twig' %}
                        </div>
                        <div class="container mt-2">
                            {% include '/desk/lists/accountants.html.twig' %}
                        </div>
                        <div class="container mt-2">
                            {% include '/desk/lists/binioufous.html.twig' %}
                        </div>
                        <div class="container mt-2">
                            {% include '/desk/lists/members.html.twig' %}
                        </div>
                        <div class="container mt-2">
                            {% include '/desk/lists/users.html.twig' %}
                        </div>
                        {% endif %}
                    {% endfor %}
                    {% for role in app.user.roles %}
                        {% if role == 'ROLE_COMPTA' %}
                        <div class="col">
                            <a href="{{ path('accountant')}}" class="btn btn-red">Accountant</a>
                        </div>
                        {% endif %}
                    {% endfor %}
                    {% for role in app.user.roles %}
                        {% if role == 'ROLE_BINOUFOUS' %}
                        <p>bienvenue cher Binioufous !!</p>
                        {% endif %}
                    {% endfor %}
                    {% for role in app.user.roles %}
                        {% if role == 'ROLE_MEMBER' %}
                        <p>bienvenue cher membre !!</p>
                        {% endif %}
                    {% endfor %}
                    {% for role in app.user.roles %}
                        {% if role == 'ROLE_USER' %}
                        <p>bienvenue cher utilisateur !!</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
